@{
    ViewData["Title"] = "contact";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Testimonial</h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Testimonial</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h4>
            <h1 class="display-4">Our Clients Say</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid" src="~/img/testimonial-1.jpg" alt="">
                    <div class="ml-3">
                        <h4>Reem</h4>
                        
                    </div>
                </div>
                <p class="m-0">"I had an amazing experience with this service. The team was professional, the process was smooth, and I felt completely supported. Highly recommend"</p>
            </div>
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid" src="~/img/testimonial-2.jpg" alt="">
                    <div class="ml-3">
                        <h4>Mohammad</h4>
                        
                    </div>
                </div>
                <p class="m-0">
                    "The quality of work exceeded my expectations. I couldn't be happier with the results. Every step was clearly communicated and delivered on time."</p>
            </div>
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid" src="~/img/testimonial-3.jpg" alt="">
                    <div class="ml-3">
                        <h4>Mary</h4>
                       
                    </div>
                </div>
                <p class="m-0">
                    "A truly outstanding experience. The team is knowledgeable and attentive, always going the extra mile to ensure the best outcomes. I'm thrilled with the final result."</p>
            </div>
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid" src="~/img/testimonial-4.jpg" alt="">
                    <div class="ml-3">
                        <h4>Ahmad</h4>
                        
                    </div>
                </div>
                <p class="m-0">
                    "From start to finish, the service was excellent. I was guided every step of the way, and the final product was delivered with great attention to detail."

                </p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
